.Col_content {
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-profile {
  padding: 0 10px;
  .profile__header {
    img {
      width: 50px;
      height: 50px;
    }
    h4 {
      margin: 0;
      text-align: center;
    }
  }

  button {
    position: relative;
    left: 50%;
    width: 20%;
    transform: translateX(-50%);
    padding: 10px;
  }
}
