.introduce {
  width: 93%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  .introduce_pane {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px 0;
    .introduce_background {
      width: 40%;
      height: 450px;
      img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
    .introduce_content_head {
      text-align: justify;
      width: 50%;
      h1,
      span {
        text-align: center;
        margin: 20px 0;
      }
      .product_introduction {
        display: flex;
        gap: 15px;
        justify-content: center;
        p {
          width: 50%;
          position: relative;
          text-align: justify;
        }
        .bar {
          border-left: 2px solid #000;
        }
      }
    }
  }
  .introduce_content_body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    margin: 30px 0;
    .content_pane {
      display: flex;
      gap: 10px;
      width: 40%;
      text-align: justify;
    }

    img {
      width: 50px;
      height: 50px;
    }

    
  }
}

@media only screen and (max-width: 47.1875em) {
  .introduce {
    .introduce_pane {
      display: block;
      .introduce_background{
        width: 100%;
      }
      .introduce_content_head{
        width: 100%;
      }
    }
    .introduce_content_body{
      gap: unset;
      padding: unset;
      display: flex;
      flex-wrap: wrap;
      .content_pane{
        display: unset;
        gap: unset;
        width: calc(100%/2);
        padding: 0 10px;
        img{
          width: 50px;

        }
      }
    }
  }
  
}

@media only screen and (min-width: 47.25em) and (max-width: 63.9375em) {
}
