.displayImg {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px 0 20px 0;
}
.carousel-caption {
  bottom: 100px;
  left: 50px;
  position: absolute;
  padding: 0;
  width: 30%;
  
  p {
    display: inline-block;
  }
}
.carousel-indicators {
  position: absolute;
  bottom: 50px;
}
.table_sm {
  display: flex;
  gap: 40px;
  // border-bottom: 2px solid #000;
  position: relative;
  z-index: -1;
  // &::before {
  //   content: "Sản phẩm của chúng tôi";
  //   position: absolute;
  //   bottom: -10px;
  //   left: 50%;
  //   font-size: 20px;
  //   padding: 0 10px;
  //   text-align: center;
  //   transform: translateX(-50%);

  //   z-index: 1;
  //   background-color: #fff;
  // }
  
  .table_2,
  .table_3,
  .table_4 {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      border-radius: 50px;
      width: 90%;
      height: 90%;
      background-size: cover;
      object-fit: cover;
    }
  }
}
.horizontal{

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-bottom: 2px solid #000;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: -1;
  &>span{
    transform: translateY(10px);
    z-index: 1;
    background-color: #fff;
    width: 15%;
    text-align: center;
  }
  
}
@media (max-width: 400px) {
  .displayImg {
    display: block;
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
}
.carouselText {
  text-align: center;
  padding-bottom: 30px;
}

@media only screen and (max-width: 47.1875em) {
  .banner__home{
    .carousel{
      top: -35px;
    }
    .table_sm{
      gap: 0px;
      top: -30px;
      .horizontal{
        left: 0;
        transform: unset;
        bottom: -30px;
      }
  
    }
  }
  .carousel-indicators {
    bottom: 20%;
  }
  .carousel-item {
    .carousel-caption {
      width: 100%;
      left: 0;
      top: 40%;
    }
    .displayImg {
      height: 300px;
    }
    
  }
}
