.list_food {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  img {
    height: 200px;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
}
