$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;
section{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    &>li {
      width: 18%;
      a,
      a:visited {
        width: 100%;
        display: inline-block;
        padding: 0 20px;
        line-height: $nav-height;
        background: #223D43;
        color: $nav-font-color;
        text-decoration: none;
        font-size: 20px;
        &:hover {
          // background: $link-hover-color;
          opacity: .6;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
        &.active{
          // background-color: #2581DC;
          opacity: .6;
        }
      }
    
    }
  }
  .logout{
    i{
      font-size: 25px;
      color: #223D43;
      cursor: pointer;
    }
  }
}


// @media only screen and (max-width: 798px) {
//   // Hamburger nav visible on mobile only
//   .nav-mobile {
//     display: block;
//   }
//   nav {
//    width: 100%;
//     padding: $nav-height 0 15px;
//     ul {
//       display: none;
//       li {
//         float: none;
//         a {
//           padding: 15px;
//           line-height: 20px;
//         }
//         ul li a {
//           padding-left: 30px;
//         }
//       }
//     }
//   }
//   .nav-dropdown {
//     position: static;
//   }
// }
// @media screen and (min-width: $breakpoint) {
//   .nav-list {
//     display: block !important;
//   }
// }
