@import url("https://fonts.googleapis.com/css?family=Pontano+Sans");

$white: #fff;
$black: #333;
$lightergray: #d5d5d5;
$lightgray: #f0f3f1;
$gray: #e3dddd;
$text: #888;
$button: #3e3e3f;
$button-hover: #565657;

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.Product_details {
  font-family: "Pontano Sans", sans-serif;
  position: relative;
  margin: 0;
  color: $text;
  background: $white;
  width: 85%;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0;
  .flex {
    display: flex;
    gap: 50px;
    .product-gallery {
      .product-image {
        & > img {
          height: 450px;

          object-fit: cover;
          background-size: cover;
        }
      }
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          img {
            background-position: center;
            background-repeat: no-repeat;
            object-fit: contain;
          }
        }
      }
    }
  }

  .description {
    border-top: 0.0625rem solid $gray;
    margin: 2rem 0;
    padding: 1rem 0 0 0;
  }
  .quantity {
    margin-right: 20px;
    input {
      width: 50px;
      padding: 10px;
      text-align: center;
      border: none;
      outline: none;
    }
    display: flex;
    button {
      background-color: #223d44;
      color: #fff;
      border-radius: 0px;
    }
  }
  .add-to-cart {
    position: relative;
    display: inline-block;
    background: #223d44;
    color: $white;
    border: none;
    border-radius: 0;
    padding: 15px;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transform: translateZ(0);
    transition: color 0.3s ease;
    letter-spacing: 0.0625rem;
    &:hover {
      &::before {
        transform: scaleX(1);
      }
    }
    &::before {
      position: absolute;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #5c6e7267;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition: transform 0.3s ease-out;
    }
  }
}
.Product_details_comment {
  width: 85%;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 0;
  .comment {
    & > ul {
      padding: 0;
      &.last {
        display: flex;
        gap: 14px;
        & > li {
          width: 50%;
        }
      }

      textarea,
      input {
        border-radius: 0;
        box-shadow: none;
        border: 1px solid #cccdce;
        &:focus {
          border: 1px solid #223d44;
        }
      }
    }
    button {
      &.submit {
        background-color: #223d44;
        color: #fff;
        border-radius: 0;
      }
    }
  }
}

@media (min-width: 750px) {
  .product-image img,
  .image-list img {
    width: 100%;
  }

  .product-image {
    display: block;
    img {
      height: 52vh;
      &.active {
        display: block;
        margin: 0 0 0.75rem 0;
      }
    }
  }

  .image-list {
    display: flex;
    overflow: hidden;
    li {
      margin: 0 0.75rem 0 0;
      flex-basis: 100%;
      &:nth-child(3) {
        margin: 0;
      }
    }
    img {
      height: 10rem;
      width: 100%;
      transition: opacity 0.3s ease;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  nav ul {
    justify-content: flex-end;
  }

  .toggle-nav {
    display: none;
  }

  .flex-nav {
    display: block;
    ul {
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: flex-end;
      li {
        font-size: 1.125rem;
        margin: 0 1.5rem 0 0;
        &:nth-child(4) {
          margin: 0;
        }
      }
    }
  }
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
