.Container {
  // border: 2px solid #223d44;
  padding: 20px;
  .has_card {
    display: flex;
    justify-content: center;
    .form_has_card {
      overflow: auto;
      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;
      width: 70%;
      height: 70vh;
      padding: 0px 10px;
      &::-webkit-scrollbar {
        width: 0;
      }
      .stick {
        width: 95%;
        height: 50px;
        background-color: #fff;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        z-index: 1;
      }
      .infor_card {
        width: 95%;
        padding: 10px;
        margin: 10px 0px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        display: flex;
        align-items: center;
        gap: 20px;
        &:first-child {
          margin-top: 0;
        }
        .image {
          width: 15%;
          img {
            width: 100px;
            height: 100px;
            background-position: center;
            object-fit: cover;
          }
        }
      }
      .content_card {
        width: 70%;
        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .quantity {
          input {
            width: 50px;
            text-align: center;
          }
          display: flex;
          button {
            background-color: #223d44;
            color: #fff;
            border-radius: 0px;
          }
        }
      }
    }
    .form_payment {
      width: 30%;
      .total {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        padding: 10px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        h5 {
          margin: 0;
        }
      }
      .payment {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        width: 100%;

        & > h2 {
          text-align: center;
        }
        & > .form {
          padding: 10px;
          & > input {
            margin: 10px 0;
          }
          .pay_momo {
            border: 1px solid pink;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px 0;
            img {
              width: 50px;
              height: 50px;
            }
          }
          & > button {
            display: block;
            margin: 0 auto;
            background-color: #223d44;
            color: #fff;
          }
        }
      }
    }
  }
  .no_card {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    height: 50vh;
    .form_card {
      text-align: center;
      img {
        display: inline-block;
        margin-right: 9px;
        object-fit: cover;
        width: 100px;
        height: 100px;
      }
    }
  }
}
