

<form method="POST" action="/store">
  <div class="form-group" >
    <label for="productname">Productname</label>
    <input type="text" class="form-control" id="productname" name="productname">
  </div>
  <div class="form-group" >
    <label for="cost">Cost</label>
    <input type="text" class="form-control" id="cost" name="cost">
  </div>
  <div class="form-group" >
    <label for="brand">Brand</label>
    <input type="text" class="form-control" id="brand" name="brand">
  </div>
  <div class="form-group" >
    <label for="catelogy">Catelogy</label>
    <input type="text" class="form-control" id="catelogy" name="catelogy">
  </div>
  <div class="form-group" >
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description">
  </div>
  <div class="form-group" >
    <label for="image">Image</label>
    <input type="text" class="form-control" id="image" name="image">
  </div>
  {{!-- <div class="form-group" >
    <label for="dateorder">Dateorder</label>
    <input type="text" class="form-control" id="dateorder" name="dateorder">
  </div>
  <div class="form-group" >
    <label for="sold">Sold</label>
    <input type="text" class="form-control" id="sold" name="sold">
  </div>
  <div class="form-group" >
    <label for="freeship">Feeship</label>
    <input type="text" class="form-control" id="freeship" name="freeship">
  </div>
   --}}
  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>