* {
  list-style: none;
}
.Home_Carousel {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 20px 0;
  border-top: 2px solid #233c43;
  width: 100%;
  gap: 60px;
  .content {
    width: 20%;
    text-align: right;
    h6 {
      margin: 10px;
      padding: 10px;

      cursor: pointer;
      &:hover {
        background-color: #233c43;
        color: #fff;
      }
    }
  }
}
@media only screen and (max-width: 47.1875em) {
  .Home_Carousel {
    .content {
      display: block;
    }
    .list_product {
      justify-content: space-between;
      padding: 0;
      margin: 0 auto;
      width: 100%;
      li {
        width: calc(100% / 2);
        .list_product_img {
          img {
            width: 100%;
            height: 200px;
          }
        }
      }
    }
  }
}
