.login {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  .Auth-form {
    width: 35%;
    min-height: 70vh;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    .Auth-form-content {
      width: 90%;
      height: 100%;
      .Auth-form-title {
        text-align: center;
        margin-bottom: 1em;
        font-size: 24px;
        color: rgb(34, 34, 34);
        font-weight: 800;
      }
      label {
        font-size: 14px;
        font-weight: 600;
        color: rgb(34, 34, 34);
      }
      .input_password {
        position: relative;
        input {
        }
        i {
          display: inline-block;
          right: 0;
          position: absolute;
          top: 45%;
          padding: 10px;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 47.1875em) {
  .Auth-form-container {
    padding: 20px;
    .Auth-form {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 47.25em) and (max-width: 63.9375em) {
}
