/* body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
} */

.app{
  display: flex;
  align-items: center;
  justify-content: center;
}
.width-page{
  width: 1200px;
}
