.ProfilePage {
  margin: 0;
  width: 85%;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 0;
  .row_profile {
    width: 100%;
    display: flex;

    .Col_infor {
      box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
        rgb(60 64 67 / 15%) 0px 1px 3px 1px;
      margin-right: 10px;
      padding: 10px;
      width: 25%;
      .infor {
        display: flex;
        justify-content: flex-start;

        margin: 0;
        .image {
          margin-right: 15px;
        }
        .edit_user {
          cursor: pointer;
          &:hover {
            color: rgb(208, 3, 3);
          }
        }
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          margin: 20px auto;
          cursor: pointer;
          span {
            margin: 0 10px;
          }

          &:hover {
            color: rgb(208, 3, 3);
          }
        }
      }
    }
    .Col_content {
      box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
        rgb(60 64 67 / 15%) 0px 1px 3px 1px;
      padding: 10px;
      width: 80%;
    }
    .form-profile {
      padding: 0 10px;
      .profile__header {
        h4 {
          margin: 0;
        }
      }
      form {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        ul {
          padding: 0;
          gap: 50px;
          &:first-child {
            width: 50%;
            li {
              display: flex;
              align-items: center;
              gap: 10px;
              margin-bottom: 10px;
              i {
                font-size: 20px;
                display: inline-block;
              }
              input {
                width: 100%;
              }
            }
          }
          &:last-child {
            width: 50%;
            & > li {
              .image {
                cursor: pointer;
                width: 200px;
                height: 200px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: 2px dashed #223d44;
                border-radius: 5px;
                padding: 10px;
                img {
                  width: 90%;
                  height: 90%;
                  border-radius: 50%;
                  object-fit: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }
            }
          }
        }
        ul:last-child{
          .preview{
            .image{
              img{
                width: 100%;
              }
            }
            input{
              opacity: 0;
            }
          }
        }
        button {
          display: block;
          margin: 20px auto;
          width: 15%;
        }
      }
      button {
        position: relative;
        left: 50%;
        width: 20%;
        transform: translateX(-50%);
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: 47.25em) {
  .ProfilePage {
    padding: 0;

    .Col_infor {
    }

    .Col_content {
      .profile__header {
        h4 {
          text-align: center;
        }
      }

      padding-left: 0;
    }
  }
}

@media only screen and (min-width: 47.25em) and (max-width: 63.9375em) {
  .ProfilePage {
    padding: 0;
    .Col_infor {
      width: calc(100% / 4);
    }
    .Col_content {
      width: calc(100% / 2 + 25%);

      padding-left: 0;
      .profile__header-container {
        flex-wrap: wrap-reverse;
        .profile__header-information {
          width: 100%;
        }
        .profile__header-avatar {
          width: 100%;
        }
      }
    }
  }
}
