  .ProfilePage {
    margin: 20px 0;
    width: 80%;
    min-height: 50vh;
    display: inline-block;
    position: relative;
    padding: 20px 0;
    .row_profile {
      width: 100%;
      display: flex;
  
      .Col_infor {
        box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
          rgb(60 64 67 / 15%) 0px 1px 3px 1px;
        margin-right: 10px;
        padding: 10px;
        width: 25%;
        .infor {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 0;
          .image {
            margin-right: 15px;
          }
          .edit_user {
            cursor: pointer;
            &:hover {
              color: rgb(208, 3, 3);
            }
          }
        }
        ul {
          margin: 0;
          padding: 0;
          li {
            margin: 20px auto;
  
            & > a {
              text-decoration: none;
              color: #000;
              cursor: pointer;
              span {
                margin: 0 10px;
              }
  
              &:hover {
                color: rgb(208, 3, 3);
              }
            }
          }
        }
      }
      .Col_pageChild {
        width: 75%;
      }
      .Col_content{
        .form-profile{
          display: flex;
          margin: auto;
          flex-wrap: wrap;
          justify-content: center;

          .profile__header{
            display: block;
            width: 100%;
            text-align: center;
          }
          form{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #inputvalue{
              width: calc(100%/2);
              align-items: center;
            }
            #preview{
              width: calc(100%/2);
              display: flex;
            justify-content: center;
            align-items: center;
              .image{
                width: 90%;
                height: 80%;
                #avatar{
                  width: 100%;
                  height: 100%;
                }
              }
              #avatarupdate{
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }


@media only screen and (max-width: 47.25em) {
  .ProfilePage {
    padding: 0;
    width: 100%;
    .row_profile{
      flex-wrap: wrap;
      justify-content: center;
      .Col_infor {
        width: 80%;
        margin: 0 0 10px 0;
      }
  
      .Col_content {
        width: 80%;
        .form-profile{
          form{
            flex-wrap: wrap;
            flex-direction: column-reverse;
             ul:first-child{
              width: 100%;
             }
             ul:last-child{
              width: 100%;
              li{
                display: flex;
                align-items: center;
                justify-content: center;
              }
             }
          }

        }
        .profile__header {
          
          h4 {
            text-align: center;
          }
        }
  
        padding-left: 0;
      }
    }
  }
}

@media only screen and (min-width: 47.25em) and (max-width: 63.9375em) {
  .ProfilePage {
    padding: 0;
    .Col_infor {
      width: calc(100% / 4);
    }
    .Col_content {
      width: calc(100% / 2 + 25%);

      padding-left: 0;
      .profile__header-container {
        flex-wrap: wrap-reverse;
        .profile__header-information {
          width: 100%;
        }
        .profile__header-avatar {
          width: 100%;
        }
      }
    }
  }
}
