.ProfilePage {
  padding: 40px;
  .Col_infor {
    height: 90vh;
    background-color: #f5f5f5;
    .infor {
      display: flex;
      justify-content: start;

      margin: 30px 0;
      .image {
        margin-right: 15px;
      }
      .user_name {
        .edit_user {
        }
      }
    }
    ul {
      padding: 0;
      li {
        margin: 20px 0;
        span {
          margin: 0 10px;
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          margin: 20px 25px !important;
        }
      }
    }
  }
  .Col_content {
    padding-left: 30px;
    & > span {
      font-size: 20px;
      font-weight: 600;
    }
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    td {
      span {
        display: block;
        text-align: right;
      }
    }
  }

  button {
    display: block;
    margin: 20px auto;
    width: 20%;
  }
}
