<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Healthy--Roo</title>
        <link rel="icon" href="https://ik.imagekit.io/fruitcompany/project__fruit/logonobackground.png?updatedAt=1677463105050" type="image/gif" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <div class="mt-5">
            <div class="row">
                {{{body}}}
            </div>
        </div>
    </body>
    
</html>