.logo {
  border-bottom: 2px solid #223d44;
  background-color: #fff;
  z-index: 999;

  .logo_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    z-index: 1;
    gap: 100px;
    .Navbar_home {
      margin: 0;
      list-style: none;
      padding: 20px 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 40%;

      li {
        a {
          text-decoration: none;
          color: #223d44;
          font-size: 1.25rem;
          font-weight: 600;
          position: relative;
          padding-bottom: 5px;
          &::before {
            content: "";
            width: 0;
            position: absolute;
            bottom: 0;
            transition: all 0.2s;
          }
          &:hover::before {
            border-bottom: 2px solid #223d44;
            width: 100%;
          }
        }
      }
    }
    .image {
      width: 80px;
      height: 80px;
      background-color: #223d44;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        border-radius: 50%;
        width: 85%;
        height: 85%;
        background-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .icon {
      width: 25%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #223d44;
      margin: 0;
      padding: 0;
      & > li {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: all 0.3s;
        border-radius: 50%;
        position: relative;

        &:nth-child(1)::before,
        &:nth-child(2)::before,
        &:nth-child(3)::before
        {
          content: "";
          border-left: 1px solid #223d44;
          opacity: 0.2;
          height: 90%;
          position: absolute;
          right: 0;
        }
        &:nth-child(6){
          display: none;
        }
        &:nth-child(5) {
          position: relative;
          &:hover ul {
            display: block;
          }
          & > ul {
            background-color: #fff;
            position: absolute;
            top: 100%;
            right: 0;
            padding: 0;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
              rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            width: 70%;

            display: none;
            z-index: 999;

            left: 50%;
            transform: translateX(-50%);
            li {
              padding: 5px;
              color: #000;

              span {
                display: block;
                text-align: center;
                padding: 5px;
              }

              &:hover {
                background-color: #223d44;
                color: #fff;
              }
            }
          }
        }
        & > .link {
          color: #223d44;
          text-decoration: none;
          padding: 10px;
        }
        &:hover i {
          opacity: 0.7;
        }
        &.login {
          position: relative;
          &:hover ul {
            display: block;
          }
          i {
            padding: 10px;
            font-size: 20px;
            display: inline-block;
            &:hover {
              opacity: 0.6;
            }
          }
          & > ul {
            &::after {
              content: "";
              width: 100%;
              height: 20px;
              background-color: transparent;
              position: absolute;
              top: -10px;
              right: 0;
            }
            background-color: #fff;
            position: absolute;
            top: 100%;
            right: 0;
            padding: 0;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
              rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            width: 170px;
            padding: 10px;
            display: none;
            z-index: 999;

            .link {
              text-decoration: none;
              li {
                padding: 5px;
                color: #000;

                span {
                  display: block;
                  text-align: right;
                }

                &:hover {
                  background-color: #223d44;
                  color: #fff;
                }
              }
            }
          }
        }
      }
      & > li:nth-child(1) {
        position: relative;
        &:hover ul {
          display: block;
        }
        & > ul {
          &::after {
            content: "";
            width: 100%;
            height: 20px;
            position: absolute;
            background-color: transparent;
            right: 0;
            top: -10px;
          }
          display: none;
          z-index: 99;
          position: absolute;
          top: 100%;
          right: 0;
          background-color: #223d44;
          padding: 6px;
          border-radius: 2px;
          & > li {
            display: flex;
            input {
              padding: 7px;
              outline: none;
              border: none;
            }
            button {
              padding: 10px 20px;
              border: none;
              background-color: #fff;
              &:hover {
                box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em,
                  rgb(245 242 242 / 50%) 0px 0.125em 0.5em,
                  rgb(255 255 255) 0px 0px 0px 1px inset;
                background-color: #223d44;
                color: #fff;
              }
            }
          }
        }
      }
      & > li:nth-child(3) {
        position: relative;
        .link{
          & > span {
            position: absolute;
            // right: 15%;
            top: 4px;
            color: red;
          }

        }
      }
      .bar {
        display: none;
      }
      nav.navbar{
        display: none;
      }


    }
    .Navbar_bar {
      display: none;
    }

  }
}

.roll {
  position: sticky;

  top: 0;
  animation: top-to-down 0.7s;
}

@keyframes top-to-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
  // 0% {
  //   top: -300px;
  //   opacity: 0;
  // }
  // 100% {
  //   top: 0;
  //   opacity: 1;
  // }
}

@media only screen and (max-width: 47.1875em) {
  .logo {
    width: 100%;
    z-index: 10;
    .logoBrand {
      display: none;
    }
    .logo_header {
      align-items: left;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      display: block;
      a {
        .image {
          width: 50px;
          height: 50px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .icon {
        width: unset;
        li {
          // padding: 10px
          position: relative;
          // padding: 10px;
          .link {
            padding: 0;
            
            i {
              padding: 0;
            }
          }
        }
        li:nth-child(1) {
          width: 100%;
          z-index: 9;

          ul {
            // display: block;
            left: 0;
            right: unset;
          }
        }
        li:nth-child(3) {
          .link{
            .number{
              position: absolute;
              top: 4px;
              color: red;
            }
          }
        }
        li:nth-child(6) {
          display: flex;
          z-index: 9;
        }
        li:nth-child(5)::before{
          content: "";
          border-left: 1px solid #223d44;
          opacity: 0.2;
          height: 90%;
          position: absolute;
          right: 0;
        }
        .search {
          .input_search {
            width: 100%;
            height: unset;
            top: 100px;
            right: unset;
          }
        }
        .navbar{
          z-index: 10;
          display: flex;
          position: fixed;
          top: 45px;
          text-align: center;
            ul{
              display: block;
              width: 100%;
            }
        }
        .block{
          display: block !important
        }
      }
      .Navbar_home {
        display: none;
      }
      .Navbar_bar {
        position: fixed;
        display: block;
        text-align: center;
        width: 100%;
        top: 100px;
        background-color: white;
        display: none;
        li {
          padding: 10px 0;

          a {
            text-decoration: none;
          }
        }
      }
      nav ul li a, nav ul li a:visited {
        font-size: 15px;
      }

    }
  }
  .logo .logo_header .icon > li.login > ul{
    left:0
  }
 
}

@media only screen and (min-width: 47.25em) and (max-width: 63.9375em) {
  .logo {
    .logo_header {
      gap: unset;
      justify-content: space-evenly;
      .Navbar_home {
        width: unset;
        li {
          margin: 0 10px;
        }
      }
      .icon {
        li {
          // padding: 10px;
          padding: 10px;
          .link {
            padding: 0;
            i {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
